// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#bookList{
  text-decoration: none;
  background-color: #F3F0D7;
  box-shadow: 5px 10px 10px 1px lightslategray;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  color: #5E454B;
  transition: transform 250ms;
}

#bookList.fav {
  color: #5E454B;
  background-color: #CEE5D0;
}

#bookList:hover {
  transform: translateY(-10px);
}

.author {
  font-size: medium;
  font-style: italic;
}

.title {
  font-weight: bold;
  font-size: 24px;
}